<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NotWeedMaps</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script>
    $(document).ready(function(){
          var date_input=$('input[name="birthday"]');
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
          };
          date_input.datepicker(options);
        })
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="bootstrap-iso">
      <div class="container-fluid">
        <div class="page-header">
          <h1 style='font-family: Lobster; color: white'>Not Weed Maps</h1>
        </div>
        {% if messages%}
        {% for message in messages%}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> You must be 21 or older to use this site.
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-4">
            <form class="" action="/process" method="post">
              {% csrf_token%}
              <div class="form-group">
                <label class="control-label" for="birthday">Enter your birthday</label>
                <input type="text" name="birthday" class="form-control" id="date" placeholder="MM/DD/YYY">
              </div>
              <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary">Enter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
