<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <style>
      #map {
        height:100%;
        width: 100%;
       }
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>
      <div id="map"></div>
    <h3>Not Weed Maps</h3>
    <script>
      function initMap() {
        var sanfan = {lat: 37.763358, lng: -122.434265};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom:11,
          center: sanfan
        });
        // var url = document.createElement('script')
        // script.src = "https://data.sfgov.org/api/views/8r8e-q58k/rows.json?accessType=DOWNLOAD";
        // document.getElementsByTagName('head')[0].appendChild(script);
      }
    <script type="text/javascript">
    $(document).ready(function(){


    window.onload = function() {

		// Creating a new map
		var map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(57.9, 14.6),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


		// Creating the JSON data
		var json = [
		    {
		        "title": "Stockholm",
		        "lat": 59.3,
		        "lng": 18.1,
		        "description": "<strong>Stockholm</strong> is the capital and the largest city of Sweden and constitutes the most populated urban area in Scandinavia with a population of 2.1 million in the metropolitan area (2010)"
		    },
		    {
		        "title": "Oslo",
		        "lat": 59.9,
		        "lng": 10.8,
		        "description": "<strong>Oslo</strong> is a municipality, and the capital and most populous city of Norway with a metropolitan population of 1,442,318 (as of 2010)."
		    },
		    {
		        "title": "Copenhagen",
		        "lat": 55.7,
		        "lng": 12.6,
		        "description": "<strong>Copenhagen</strong> is the capital of Denmark and its most populous city, with a metropolitan population of 1,931,467 (as of 1 January 2012)."
		    }
		]

		// Creating a global infoWindow object that will be reused by all markers
		var infoWindow = new google.maps.InfoWindow();

		// Looping through the JSON data
		for (var i = 0, length = json.length; i < length; i++) {
			var data = json[i],
				latLng = new google.maps.LatLng(data.lat, data.lng);

			// Creating a marker and putting it on the map
			var marker = new google.maps.Marker({
				position: latLng,
				map: map,
				title: data.title
			});

			// Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
			(function(marker, data) {

				// Attaching a click event to the current marker
				google.maps.event.addListener(marker, "click", function(e) {
					infoWindow.setContent(data.description);
					infoWindow.open(map, marker);
				});


			})(marker, data);

		}

	}
      })
      </script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpPcpLV69gERAsO6Fe7iE-dFUyi8vrNAI&callback=initMap">
    </script>

  </body>
</html>
