<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height:100%;
        width: 100%;
       }
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <h3>Not Weed Maps</h3>
    <script>

   $(document).ready(function(){

     function initMap() {
        var sanfan = {lat: 37.763358, lng: -122.434265};
        var mapOptions = {
          zoom:11,
          center: sanfan
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions)
      //  console.log("data", datacollect());
      //  console.log("type:", typeof datacollect());
      url = "https://data.sfgov.org/api/views/8r8e-q58k/rows.json?accessType=DOWNLOAD";
      var j = []; var latLng;
      var coord = [];
      $.get(url , function(res) {
        console.log("results:", res);
        for(var i = 0; i < res.data.length; i++){
          str1 = res.data[i][9];
          str1 = str1.substring(7,str1.length-1);
          latlong = str1.split(" ");
         j.push(
           {business_name  : res.data[i][8],
            lat : latlong[1],
            lng : latlong[0],
            address : res.data[i][11]+ " "+ res.data[i][12]+ " "  +res.data[i][13] + " " +res.data[i][14],
            zipcode : res.data[i][14],
            neighborhood : res.data[i][19],
            location_type : res.data[i][18],
            id : res.data[i][24]
          });
        coord.push({lat : parseFloat(latlong[1]), lng : parseFloat(latlong[0])})
      }
      console.log("inside get", coord, typeof coord);

     // all your code here
      console.log("now coords is populated", coord);
      for (i in coord){
        console.log("coord",coord[i].lat);
        var image = "https://cdn0.iconfinder.com/data/icons/nature-1-2/512/marijuana-128.png";
        var marker = new google.maps.Marker({
          icon: image,
          position: coord[i],
          map: map,
        });
      }
    }, "json");
  }

 initMap()

}); //end of document.ready
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpPcpLV69gERAsO6Fe7iE-dFUyi8vrNAI&callback=initMap">
    </script>
  </body>
</html>
